

<div class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#b-menu-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Bookstore</a>
    </div>
    <div class="collapse navbar-collapse" id="b-menu-1">
      <ul class="nav navbar-nav navbar-right">
        <li ><%= link_to "HOME",    main_app.root_path %></li>
        <li ><%= link_to "SHOP",    main_app.books_path %></li>
        <li style="padding-top: 15px;">
        <% if customer_signed_in? %>

             <i class="glyphicon glyphicon-shopping-cart">
               <%= link_to_unless_current('CART', shop_cart.order_items_path) %>:
               <%  if (current_customer_order.nil? || current_customer_order.total_items == 0) %>
                  <%= '(EMPTY)' %>
               <% else %>
                  <%= "(#{current_customer_order.total_items}) #{number_to_currency(current_customer_order.total_price)}" %>
               <%end%>
             </i>

        <% end %>
        </li>

        <% if customer_signed_in? %>
           <% if current_customer.admin?%>
              <li><%= link_to "Admin Dashboard", main_app.rails_admin_path %></li>
           <% end %>
           <li><%= link_to "Settings",    main_app.customer_path %></li>
           <li><%= link_to "Orders",    shop_cart.orders_path %></li>
           <li><%= link_to "Sign out", main_app.destroy_customer_session_path, :method => :delete %></li>
        <%else%>
           <li><%= link_to "Sign in",    main_app.new_customer_session_path %></li>
           <li><%= link_to "Sign up",    main_app.new_customer_registration_path %></li>
        <%end%>


      </ul>
    </div> <!-- /.nav-collapse -->
  </div> <!-- /.container -->
</div> <!-- /.navbar -->
